# Ansible Managed
# gg.nginx role

map $http_upgrade $connection_upgrade {
  default upgrade;
  ''      close;
}

{% for proxy in proxies %}
server {
  listen {{ proxy.listen_port | default(8081) }};

  ssl {{ proxy.ssl | default('on') }};

  client_max_body_size 265M;

{% if proxy.ssl is not defined or proxy.ssl == "on" %}
  ssl_certificate {{ ssl_certificate_directory }}/{{ ssl_certificate_name }}.crt;
  ssl_certificate_key {{ ssl_certificate_directory }}/{{ ssl_certificate_name }}.key;
{% endif %}

  server_name {{ proxy.server_name | default("default.greenlight.guru") }};

  location {{ proxy.location | default('/')}} {
{% if ( proxy.grpc is defined and proxy.grpc ) %}
    grpc_pass {{ proxy.proxy_url | default("http://localhost:8099") }};
{% else %}
    proxy_pass {{ proxy.proxy_url | default("http://localhost:8099") }};
{% endif %}
{% if ( proxy.websocket is defined and proxy.websocket ) %}
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
    proxy_set_header Host $host;
{% endif %}
{% if ( proxy.local_timeout is defined ) %}
    proxy_read_timeout {{ proxy.local_timeout }};
    proxy_connect_timeout {{ proxy.local_timeout }};
    proxy_send_timeout {{ proxy.local_timeout }};
    send_timeout {{ proxy.local_timeout }};
{% endif %}
  }
{% if ( proxy.custom_additions is defined ) %}
  {{ proxy.custom_additions | default("") }}
{% endif %}
}

{% endfor %}
